body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
    font-weight: 400;
  }
}

.toolbar {
  display: flex;
  height: 40px;
  background-color: #eee;
  border-bottom: 1px #ddd solid;

  .brand {
    margin: 5px 15px;
    color: #888;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 30px;
  }
}

.container {
  margin: 15px;
}

.table {
  border-spacing: 0;
  border-collapse: separate;

  thead {
    th {
      text-align: left;
      padding: 5px 10px;
      border-bottom: 2px #ccc solid;
      border-right: 1px #eee solid;

      &:last-of-type {
        border-right: 0;
      }
    }
  }

  tbody td {
    padding: 5px 10px;
  }

}